<!-- /snippets/cart-form.liquid -->

<div class="cart__body">
  <div class="cart__row medium-down--hide cart__header-labels">
    <div class="grid--full">
      <div class="grid__item large--one-half push--large--one-half">
        <div class="grid--full cart__line__nums">
          <div class="grid__item one-third medium-down--one-third">
            {{ 'cart.label.price' | t }}
          </div>
          <div class="grid__item one-third medium-down--one-third text-center cart__qty__th">
            {{ 'cart.label.quantity' | t }}
          </div>
          <div class="grid__item one-third medium-down--one-third text-right">
            {{ 'cart.label.total' | t }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% for item in cart.items %}
    {%- assign discounted = false -%}
    {%- if item.original_price > item.final_price -%}
      {%- assign discounted = true -%}
    {%- endif -%}
    {%- assign sale = false -%}
    {%- if item.variant.compare_at_price > item.price -%}
      {%- assign sale = true -%}
    {%- endif -%}

    <div class="cart__row">
      <div class="item--loadbar" style="display: none;"></div>
      <div class="grid--full cart__row--table-large">

        <div class="grid__item large--one-half requestedItem">
          <div class="grid--full cart__row--table-large requestedItem-info">

            <div class="grid__item one-third small--one-quarter">
              <div class="grid__item-sizer">
                <a href="{{ item.url | within: collections.all }}" class="cart__image">
                  <img src="{{ item | img_url: '200x' }}" alt="{{ item.title | escape }}">
                </a>
              </div>
            </div>

                                  <div class="grid__item two-thirds small--three-quarters cart__item__title">
                                    <a href="{{ item.url }}" class="h4--body" data-sku ="{{ item.variant.sku }}">
                                      {{ item.product.title }}
                                    </a>
                                    {% unless item.product.has_only_default_variant %}
                                      <p><small>{{ item.variant.title }}</small></p>
                                    {% endunless %}

                                    <p class="item__vendor">{{ item.vendor }}</p>


                                    {% comment %}
                                    	Will list the color tags associated with the collection 'Color':
                                    {% endcomment %}
                                     {% include 'HC_productTags--inCart--color' %}
                                     {% include 'HC_productTags--inCart--fiber' %}


                                    <!-- REQUESTS AND NOTES -->
                                    {% comment %}
                                    	Will list the choices (sample or quote) made in the product page
                                    {% endcomment %}

                                    {% assign property_size = item.properties | size %}

                                    {% if property_size > 0 %}
                                    	{% assign my_dimensions_w = blank %}
                                      {% assign my_dimensions_l = blank %}
                                    	{% assign my_quote = blank %}
                                    	{% assign my_sample = blank %}
                                    	{% assign my_notes = blank %}

                                      {% for p in item.properties %}


                                        {% unless p.last == blank %}
                                    		{% if p.first == 'quote' and p.last == 'yes' %}
                                    			{% assign my_quote = 'Quote:' %}
                                          {% endif %}

                                    		{% if my_quote == 'Quote:' and p.first == 'width' %}

                                          	{%  assign my_dimensions_w = p.last %}

                                    		{% endif %}


                                    		{% if my_quote == 'Quote:' and p.first == 'length' %}

                                          	{%  assign my_dimensions_l = p.last  %}

                                    		{% endif %}


                                    		{% if p.first == 'sample' and p.last == 'yes' %}
                                    			{% assign my_sample = 'Sample' %}
                                          {% endif %}


                      					{% if p.first == 'notes' and p.last != blank  %}
                                    			{% assign my_notes = p.last %}
                                    		{% endif %}

                                        {% endunless %}

                                      {% endfor %}


                                    	{% if my_dimensions_w == blank %}
                                                {% assign my_dimensions_w = '0' %}
                                      {% endif %}
                                    	{% if my_dimensions_l == blank %}
                                    		{% assign my_dimensions_l = '0' %}
                                    	{% endif %}

                                    	{% assign quoteValue = my_dimensions_w | append: " wide by " | append: my_dimensions_l | append: " long" %}

                                    	<div class="customRequests" {% if my_quote != blank %} data-quote="true" data-dimensions="{{ quoteValue }}"{% else %}data-quote="false"{% endif %} data-sample="{% if my_sample != blank %}true{% else %}false{% endif %}">

                                        {% if my_quote != blank %}
                                          <div class='itemCustomRequest'>
                                            {% if my_dimensions_w == blank %}
                                                {% assign my_dimensions_w = '0' %}
                                            {% endif %}
                                            {% if my_dimensions_l == blank %}
                                                {% assign my_dimensions_l = '0' %}
                                            {% endif %}
                                            <div class='itemCustomRequest_line'>{{ my_quote }} {{ quoteValue }}</div>
                                            {% comment %}<div class='itemCustomRequest_line'>{{ quoteValue }}</div>{% endcomment %}
                                          </div>
                                        {% endif %}

                                        {% if my_sample != blank %}
                                            <div class='itemCustomRequest'>
                                              <div class='itemCustomRequest_line'>{{ my_sample }}</div>
                                            </div>
                                        {% endif %}

                                        {% if my_notes != blank %}
                                        	<div class='itemCustomRequest itemCustomRequest--notes'>
                                              <div class='itemCustomRequest_line'>{{ my_notes }}</div>
                                        	</div>
                                        {% endif %}

                                     </div>

                                    {% endif %}

                                    <!-- END OF Requests AND NOTES -->

                                    {% if discounted and item.quantity > 1 %}
                                      {%- for discount in item.line_level_discount_allocations -%}
                                        <div>
                                          <span class="item__total__savings">
                                            <span class="cart__icon--tags">
                                              {% include 'icon-tags' %}
                                            </span>
                                            {{ 'cart.general.savings' | t }}
                                            {{ discount.amount | money_without_trailing_zeros }}
                                            {{ 'cart.general.with' | t }}
                                            {{ discount.discount_application.title }}
                                          </span>
                                        </div>
                                      {%- endfor -%}
                                    {% endif %}

                                    <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove uppercase lighten">
                                      <small>{{ 'cart.general.remove' | t }}</small>
                                    </a>
                                  </div> <!-- /.cart__item__title -->

          </div>
        </div>

        <div class="grid__item large--one-half requestedItemPriceQty">
          <div class="grid--full cart__row--table-large cart__line__nums">
            <div class="grid__item one-third text-left">
              <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
              <div class="item__price">
                {% if sale %}
                  <p><span class="item__price--sale">{{ item.variant.compare_at_price | money }}</span>
                  {% if discounted %}
                    <span class="item__price--aftersale">
                      {{ item.variant.price | money }}
                    </span>
                  {% endif %}
                  </p>
                {% endif %}
                {% if discounted %}
                  {% unless sale %}
                    <p><span class="item__price--aftersale">
                      {{ item.variant.price | money }}
                    </span></p>
                  {% endunless %}
                  {%- for discount in item.line_level_discount_allocations -%}
                    <p class="line__discounts">
                      <span class="item__discount__text">{{ discount.discount_application.title }}:</span>
                      <span class="item__discount">-{{ discount.amount | divided_by: item.quantity | money }}</span>
                    </p>
                  {%- endfor -%}
                {% endif %}
                <p class="item__price--final">{{ item.final_price | money }}</p>
              </div>
            </div>

            <div class="grid__item one-third text-center cart__line__qty">
              <div class="cart__qty">
                <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                <div class="js-qty quantity-selector">
                  <span class="js-qty__adjust js-qty__adjust--minus quantity__minus"
                        data-new-quantity="{{ item.quantity | minus: 1 }}"
                        data-line-key="{{ item.key }}">&minus;</span>
                  <input class="text quantity js-qty__num quantity__input" type="number" min="1" size="4" aria-label="quantity" pattern="[0-9]*" id="updates_{{ item.key }}" name="updates[{{ item.key }}]" value="{{ item.quantity }}" />
                  <span class="js-qty__adjust js-qty__adjust--plus quantity__plus"
                        data-variant="{{ item.id }}">+</span>
                </div>
              </div>
            </div>

            <div class="grid__item one-third text-right cart__line__totals">
              <div class="cart__subtotal">
                <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                <span class="h5--body money">{{ item.final_line_price | money }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
</div>

<div class="cart__row cart__footer">
  <div class="grid">

	{% comment %}
		Optional, add a textarea for special notes
			- Your theme settings can turn this on or off. Default is on.
			- Make sure you have name="note" for the message to be submitted properly
	{% endcomment %}
		<div class="grid__item large--one-half">
      <div class="cart__instructions">
        <label class="cart__instructions__label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
        <textarea name="note" class="input-full" id="CartSpecialInstructions" data-cart-note>{{ cart.note }}</textarea>
      </div>
		</div>
    <div class="grid__item large--one-half text-right">
      {%- if cart.cart_level_discount_applications.size > 0 -%}
        <p class="cart__footer__text">
          <span class="cart__subtotal-title uppercase">{{ 'layout.cart.items_count.other' | t | capitalize }}:</span>
          <span class="h3--body cart__subtotal money">{{ cart.items_subtotal_price | money }}</span>
        </p>
        {%- for discount in cart.cart_level_discount_applications -%}
          <p class="cart__footer__text">
            <span class="cart__subtotal-title uppercase">{{ discount.title }}:</span>
            <span class="h3--body cart__subtotal money">-{{ discount.total_allocated_amount | money }}</span>
          </p>
        {%- endfor -%}
      {%- endif -%}


      <p class="cart__footer__text">
        <span class="cart__subtotal-title uppercase">{{ 'cart.general.subtotal' | t }}</span>
        <span class="h3--body cart__subtotal money">{{ cart.total_price | money }}</span>
      </p>
      <p class="cart__footer__text"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>

      <div class="cart__footer__buttons">
        <span class="cart__update" data-update>
          <span class="cart__update__icon">{% include 'icon-sync' %}</span>
          <input type="submit" name="update" class="text-link" value="{{ 'cart.general.update' | t }}">
        </span>
        <span><input type="submit" name="checkout" class="btn uppercase btn--large btn--splash checkout__button" value="{{ 'cart.general.checkout' | t }}"></span>
      </div>
    </div>
  </div>
</div>