    {% comment %}
    CONTACT INFORMATION FOR THE REQUEST
    JS VALIDATION AND SENDING OF DATA FOR EMAILING
    {% endcomment %}
    <form lang="en" class="requestForm" tabindex="0">
        <div class="requestForm-body">
            <div class="requestForm-heading">
                <div class="requestForm-title">
                    <h2>PLEASE INPUT INFO FOR REQUESTS:</h2>
                </div>
            </div>
            <div class="requestForm-template">
                <div class="requestForm-main ">
                    <fieldset class="customForm-name customForm-field customForm-required">
                        <legend class="customForm-label customForm-offscreen">First and Last names, required</legend>
                        <div>
                            <div class="customForm-editor customForm-span-2">
                                <input type="text" id="customForm-fNameField" autocomplete="given-name" placeholder="First Name" title="First Name"></div>
                            <div class="customForm-editor customForm-span-2">
                                <input type="text" id="customForm-lNameField" autocomplete="family-name" placeholder="Last Name" title="Last Name"></div>
                        </div>
                        <div class="customForm-alert customForm-alert--error" id="name-alert" aria-hidden="true">First and Last Names are required</div>
                    </fieldset>
                    <div class="customForm-text-singleline customForm-field">
                        <div class="customForm-label  customForm-offscreen"><label id="customForm-companyLabel" for="customForm-companyField">Company</label></div>
                        <div class="customForm-editor customForm-span-1">
                            <input type="text" id="customForm-companyField" placeholder="Company (optional)"></div>
                    </div>
                    <fieldset class="customForm-address customForm-address-international customForm-field customForm-required">
                        <legend class="customForm-label customForm-offscreen">Address, required</legend>
                        <div>
                            <div class="customForm-editor  customForm-span-1">
                                <input type="text" id="customForm-addressL1" title="Address Line 1" placeholder="Address Line 1" autocomplete="address-line1"></div>
                            <div class="customForm-editor customForm-span-1">
                                <input type="text" id="customForm-addressL2" title="Address Line 2" placeholder="Address Line 2" autocomplete="address-line2"></div>

                            <div class='customFrom-editor--group'>
                                <div class="customForm-editor  customForm-span-3">
                                    <input type="text" id="customForm-addressCity" title="City" placeholder="City" autocomplete="address-level2"></div>
                                <div class="customForm-editor  customForm-span-3">
                                    <input type="text" id="customForm-addressRegion" title="State / Province / Region" placeholder="State / Province / Region" autocomplete="address-level1"></div>
                                <div class="customForm-editor  customForm-span-3">
                                    <input type="text" id="customForm-addressZip" title="Postal / Zip Code" placeholder="Postal / Zip Code" autocomplete="postal-code"></div>
                            </div> <!-- /.customFrom-editor--group -->

                            <div class="customForm-dropdown customForm-editor">
                                <select id="customForm-addressCountry" class="" title="Country" autocomplete="country">
                                    <option value="">Country</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Anguilla">Anguilla</option>
                                    <option value="Antarctica">Antarctica</option>
                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Aruba">Aruba</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Benin">Benin</option>
                                    <option value="Bermuda">Bermuda</option>
                                    <option value="Bhutan">Bhutan</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                    <option value="Botswana">Botswana</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                                    <option value="Bulgaria">Bulgaria</option>
                                    <option value="Burkina Faso">Burkina Faso</option>
                                    <option value="Burundi">Burundi</option>
                                    <option value="Cambodia">Cambodia</option>
                                    <option value="Cameroon">Cameroon</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Cape Verde">Cape Verde</option>
                                    <option value="Cayman Islands">Cayman Islands</option>
                                    <option value="Central African Republic">Central African Republic</option>
                                    <option value="Chad">Chad</option>
                                    <option value="Chile">Chile</option>
                                    <option value="China">China</option>
                                    <option value="Christmas Island">Christmas Island</option>
                                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Comoros">Comoros</option>
                                    <option value="Congo, Republic of(Brazzaville)">Congo, Republic of(Brazzaville)</option>
                                    <option value="Cook Islands">Cook Islands</option>
                                    <option value="Costa Rica">Costa Rica</option>
                                    <option value="Croatia">Croatia</option>
                                    <option value="Cuba">Cuba</option>
                                    <option value="Cyprus">Cyprus</option>
                                    <option value="Czech Republic">Czech Republic</option>
                                    <option value="Democratic Republic of the Congo (Kinshasa)">Democratic Republic of the Congo (Kinshasa)</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Djibouti">Djibouti</option>
                                    <option value="Dominica">Dominica</option>
                                    <option value="Dominican Republic">Dominican Republic</option>
                                    <option value="East Timor (Timor-Leste)">East Timor (Timor-Leste)</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="Egypt">Egypt</option>
                                    <option value="El Salvador">El Salvador</option>
                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                    <option value="Eritrea">Eritrea</option>
                                    <option value="Estonia">Estonia</option>
                                    <option value="Ethiopia">Ethiopia</option>
                                    <option value="Falkland Islands">Falkland Islands</option>
                                    <option value="Faroe Islands">Faroe Islands</option>
                                    <option value="Fiji">Fiji</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="French Guiana">French Guiana</option>
                                    <option value="French Polynesia">French Polynesia</option>
                                    <option value="French Southern Territories">French Southern Territories</option>
                                    <option value="Gabon">Gabon</option>
                                    <option value="Gambia">Gambia</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Germany">Germany</option>
                                    <option value="Ghana">Ghana</option>
                                    <option value="Gibraltar">Gibraltar</option>
                                    <option value="Great Britain">Great Britain</option>
                                    <option value="Greece">Greece</option>
                                    <option value="Greenland">Greenland</option>
                                    <option value="Grenada">Grenada</option>
                                    <option value="Guadeloupe">Guadeloupe</option>
                                    <option value="Guam">Guam</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="Guinea">Guinea</option>
                                    <option value="Guinea-Bissau">Guinea-Bissau</option>
                                    <option value="Guyana">Guyana</option>
                                    <option value="Haiti">Haiti</option>
                                    <option value="Holy See">Holy See</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Hong Kong">Hong Kong</option>
                                    <option value="Hungary">Hungary</option>
                                    <option value="Iceland">Iceland</option>
                                    <option value="India">India</option>
                                    <option value="Indonesia">Indonesia</option>
                                    <option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
                                    <option value="Iraq">Iraq</option>
                                    <option value="Ireland">Ireland</option>
                                    <option value="Israel">Israel</option>
                                    <option value="Italy">Italy</option>
                                    <option value="Ivory Coast">Ivory Coast</option>
                                    <option value="Jamaica">Jamaica</option>
                                    <option value="Japan">Japan</option>
                                    <option value="Jordan">Jordan</option>
                                    <option value="Kazakhstan">Kazakhstan</option>
                                    <option value="Kenya">Kenya</option>
                                    <option value="Kiribati">Kiribati</option>
                                    <option value="Korea, Democratic People's Rep. (North Korea)">Korea, Democratic People's Rep. (North Korea)</option>
                                    <option value="Korea, Republic of (South Korea)">Korea, Republic of (South Korea)</option>
                                    <option value="Kosovo">Kosovo</option>
                                    <option value="Kuwait">Kuwait</option>
                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                    <option value="Lao, People's Democratic Republic">Lao, People's Democratic Republic</option>
                                    <option value="Latvia">Latvia</option>
                                    <option value="Lebanon">Lebanon</option>
                                    <option value="Lesotho">Lesotho</option>
                                    <option value="Liberia">Liberia</option>
                                    <option value="Libya">Libya</option>
                                    <option value="Liechtenstein">Liechtenstein</option>
                                    <option value="Lithuania">Lithuania</option>
                                    <option value="Luxembourg">Luxembourg</option>
                                    <option value="Macau">Macau</option>
                                    <option value="Macedonia, Rep. of">Macedonia, Rep. of</option>
                                    <option value="Madagascar">Madagascar</option>
                                    <option value="Malawi">Malawi</option>
                                    <option value="Malaysia">Malaysia</option>
                                    <option value="Maldives">Maldives</option>
                                    <option value="Mali">Mali</option>
                                    <option value="Malta">Malta</option>
                                    <option value="Marshall Islands">Marshall Islands</option>
                                    <option value="Martinique">Martinique</option>
                                    <option value="Mauritania">Mauritania</option>
                                    <option value="Mauritius">Mauritius</option>
                                    <option value="Mayotte">Mayotte</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="Micronesia, Federal States of">Micronesia, Federal States of</option>
                                    <option value="Moldova, Republic of">Moldova, Republic of</option>
                                    <option value="Monaco">Monaco</option>
                                    <option value="Mongolia">Mongolia</option>
                                    <option value="Montenegro">Montenegro</option>
                                    <option value="Montserrat">Montserrat</option>
                                    <option value="Morocco">Morocco</option>
                                    <option value="Mozambique">Mozambique</option>
                                    <option value="Myanmar, Burma">Myanmar, Burma</option>
                                    <option value="Namibia">Namibia</option>
                                    <option value="Nauru">Nauru</option>
                                    <option value="Nepal">Nepal</option>
                                    <option value="Netherlands">Netherlands</option>
                                    <option value="Netherlands Antilles">Netherlands Antilles</option>
                                    <option value="New Caledonia">New Caledonia</option>
                                    <option value="New Zealand">New Zealand</option>
                                    <option value="Nicaragua">Nicaragua</option>
                                    <option value="Niger">Niger</option>
                                    <option value="Nigeria">Nigeria</option>
                                    <option value="Niue">Niue</option>
                                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                    <option value="Norway">Norway</option>
                                    <option value="Oman">Oman</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="Palau">Palau</option>
                                    <option value="Palestinian territories">Palestinian territories</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Peru">Peru</option>
                                    <option value="Philippines">Philippines</option>
                                    <option value="Pitcairn Island">Pitcairn Island</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Puerto Rico">Puerto Rico</option>
                                    <option value="Qatar">Qatar</option>
                                    <option value="Reunion Island">Reunion Island</option>
                                    <option value="Romania">Romania</option>
                                    <option value="Russian Federation">Russian Federation</option>
                                    <option value="Rwanda">Rwanda</option>
                                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                    <option value="Saint Lucia">Saint Lucia</option>
                                    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                    <option value="Samoa">Samoa</option>
                                    <option value="San Marino">San Marino</option>
                                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                    <option value="Senegal">Senegal</option>
                                    <option value="Serbia">Serbia</option>
                                    <option value="Seychelles">Seychelles</option>
                                    <option value="Sierra Leone">Sierra Leone</option>
                                    <option value="Singapore">Singapore</option>
                                    <option value="Slovakia (Slovak Republic)">Slovakia (Slovak Republic)</option>
                                    <option value="Slovenia">Slovenia</option>
                                    <option value="Solomon Islands">Solomon Islands</option>
                                    <option value="Somalia">Somalia</option>
                                    <option value="South Africa">South Africa</option>
                                    <option value="South Sudan">South Sudan</option>
                                    <option value="Spain">Spain</option>
                                    <option value="Sri Lanka">Sri Lanka</option>
                                    <option value="Sudan">Sudan</option>
                                    <option value="Suriname">Suriname</option>
                                    <option value="Swaziland">Swaziland</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Switzerland">Switzerland</option>
                                    <option value="Syria, Syrian Arab Republic">Syria, Syrian Arab Republic</option>
                                    <option value="Taiwan (Republic of China)">Taiwan (Republic of China)</option>
                                    <option value="Tajikistan">Tajikistan</option>
                                    <option value="Tanzania; officially the United Republic of Tanzania">Tanzania; officially the United Republic of Tanzania</option>
                                    <option value="Thailand">Thailand</option>
                                    <option value="Tibet">Tibet</option>
                                    <option value="Timor-Leste (East Timor)">Timor-Leste (East Timor)</option>
                                    <option value="Togo">Togo</option>
                                    <option value="Tokelau">Tokelau</option>
                                    <option value="Tonga">Tonga</option>
                                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                    <option value="Tunisia">Tunisia</option>
                                    <option value="Turkey">Turkey</option>
                                    <option value="Turkmenistan">Turkmenistan</option>
                                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                    <option value="Tuvalu">Tuvalu</option>
                                    <option value="Uganda">Uganda</option>
                                    <option value="Ukraine">Ukraine</option>
                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="United States">United States</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Uzbekistan">Uzbekistan</option>
                                    <option value="Vanuatu">Vanuatu</option>
                                    <option value="Vatican City State (Holy See)">Vatican City State (Holy See)</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Vietnam">Vietnam</option>
                                    <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                                    <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
                                    <option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
                                    <option value="Western Sahara">Western Sahara</option>
                                    <option value="Yemen">Yemen</option>
                                    <option value="Zambia">Zambia</option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                        <div class="customForm-alert customForm-alert--error" id="address-alert" aria-hidden="true">Review your address</div>
                    </fieldset>
                    <div class="customForm-email customForm-field customForm-required   ">
                        <div class="customForm-label   customForm-offscreen "><label id="customForm-emailLabel" for="customForm-emailField">Email, required</label></div>
                        <div class="customForm-editor customForm-editor-email customForm-span-1">
                            <input type="text" id="customForm-emailField" placeholder="Email" autocomplete="email" novalidate=""></div>
                        <div class="customForm-alert customForm-alert--error" id="email-alert" aria-hidden="true">Please review your email</div>
                    </div>
                    <div class="customForm-phone customForm-phone-international customForm-field customForm-required">
                        <div class="customForm-label  customForm-offscreen "><label id="customForm-phone" for="customForm-phoneField">Phone, required</label></div>
                        <div class="customForm-editor customForm-editor-phone">
                            <input type="tel" id="customForm-phoneField" placeholder="Telephone" autocomplete="tel" novalidate=""></div>
                        <div class="customForm-alert customForm-alert--error" id="telephone-alert" aria-hidden="true">Please review your telephone number</div>
                    </div>
                </div>
            </div>
            <div class="customForm-button-section">
                <div class="customForm-action"><button class="customForm-button btn btn--large btn--full btn--clear uppercase" id="customForm-submit-button">Submit</button></div>
            </div>
        </div>
        <div class="requestForm-confirmation requestForm-confirmation--disabled" area-hidden="true">
            <div class="requestForm-confirmation-ok requestForm-confirmation-ok--disabled">
                <h2>Thank you!</h2>
                <p>Your request has been sent. One of our team members will review it and get back to you shortly.</p>
            </div>
        </div>
    </form>
    <script async defer>
        let subBtn = document.querySelector('#customForm-submit-button');
        let requestData = {}; // object that will contain info to send to remote script
        let extURL = 'https://www.cssbroadloom.com/mailerapp/processRequests.php'; // external processing script
        // let extURL = "http://broadloom.loc/mailerapp/processRequests.php"

        const validate = () => {
            // does all the form validation
            let checks = {
                fname: document.getElementById("customForm-fNameField"),
                lname: document.getElementById("customForm-lNameField"),
                email: document.getElementById("customForm-emailField"),
                telephone: document.getElementById("customForm-phoneField"),
                address1: document.getElementById("customForm-addressL1"),
                city: document.getElementById("customForm-addressCity"),
                region: document.getElementById("customForm-addressRegion"),
                postal: document.getElementById("customForm-addressZip"),
                country: document.getElementById("customForm-addressCountry")
            }
            let alerts = {
                name: document.getElementById("name-alert"),
                email: document.getElementById("email-alert"),
                telephone: document.getElementById("telephone-alert"),
                address: document.getElementById("address-alert"),
            }
            var error = 0;

            // first and last names validation
            if (checks.fname.value == "" || checks.lname.value == "") {
                error += 1;
                setAlert(alerts.name, true);
            } else {
                setAlert(alerts.name, false);
            }

            // address validation
            if (checks.address1.value == "" || checks.city.value == "" || checks.region.value == "" || checks.postal.value == "" || checks.country.value == "") {
                error += 1;
                setAlert(alerts.address, true);
            } else {
                setAlert(alerts.address, false);
            }

            // email validation
            let pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (!pattern.test(checks.email.value.toLowerCase())) {
                error += 1;
                setAlert(alerts.email, true);
            } else {
                setAlert(alerts.email, false);
            }
            // telephone validation (only validating an arbitray string length)
            if (checks.telephone.value.length < 7) {
                error += 1;
                setAlert(alerts.telephone, true);
            } else {
                setAlert(alerts.telephone, false);
            }

            if (error == 0) {
                return true;
            } else {
                return false;
            }
        }
        const setAlert = (target, activate) => {
            // toggles visibility and aria value of alert message
            const errorMsgClass = 'customForm-alert--active';
            const errorFieldsClass = 'fieldsError';
            const parent = target.parentNode;

            if (activate == true) {
                target.classList.add(errorMsgClass);
                target.setAttribute("aria-hidden", "false");
                parent.classList.add(errorFieldsClass);
            } else {
                target.classList.remove(errorMsgClass);
                target.setAttribute("aria-hidden", "true");
                parent.classList.remove(errorFieldsClass);
            }
        }
        const formData = () => {
            // gets all the data to be send as JSON

            // Product Data
            const rows = document.querySelectorAll('.cart__row:not(.cart__header-labels):not(.cart__footer)');
            const requests = [];

            if (rows.length == 0){
                return false;
            }

            rows.forEach(
                (product) => {

                    let request = {}
                    let item = product.querySelector('.h4--body')
                    console.log(item)
                    request.name = item.textContent.trim()
                    request.url = 'https://broadloom.myshopify.com' + item.getAttribute('href')
                    let skuAttribute = item.getAttribute('data-sku')
                    // console.log (skuAttribute)
                    if (skuAttribute.length == 0) {
                        skuString = "Not Available"
                    } else {
                        skuString = skuAttribute.trim();
                    }
                    request.sku = skuString
                    request.vendor = product.querySelector('.item__vendor').textContent.trim()
                    //Colors
                    let colorsUL = product.querySelectorAll('.product_meta--colors li')
                    let colors = []
                    colorsUL.forEach((li) => {
                        colors.push(li.textContent.trim())
                    })
                    request.color = colors
                    // Fiber
                    let fibersUL = product.querySelectorAll('.product_meta--fibers li')
                    let fibers = []
                    fibersUL.forEach((li) => {
                        fibers.push(li.textContent.trim())
                    })
                    request.fiber = fibers
                    // Requests
                    let requestNeeds = []

                    let needsCustom = product.querySelector('.customRequests')

                    let sample = needsCustom.getAttribute('data-sample')
                    requestNeeds.push({ "sample": sample })

                    let quote = needsCustom.getAttribute('data-quote')
                    requestNeeds.push({ "quote": quote })

                    if (quote == 'true') {
                        let dimensions = needsCustom.getAttribute('data-dimensions')
                        requestNeeds.push({ "dimensions": dimensions })
                    }

                    request.needs = requestNeeds

                    let notes = product.querySelector('.itemCustomRequest--notes .itemCustomRequest_line')
                    if ( notes != null ) {
                        let note = notes.textContent
                        request.note = note
                    }

                    requests.push(request)
                }
            )

            // Form Data
            requestData.products = requests
            requestData.fname = document.getElementById("customForm-fNameField").value
            requestData.lname = document.getElementById("customForm-lNameField").value
            requestData.company = document.getElementById("customForm-companyField").value
            requestData.email = document.getElementById("customForm-emailField").value
            requestData.telephone = document.getElementById("customForm-phoneField").value
            requestData.address1 = document.getElementById("customForm-addressL1").value
            requestData.address2 = document.getElementById("customForm-addressL2").value
            requestData.city = document.getElementById("customForm-addressCity").value
            requestData.region = document.getElementById("customForm-addressRegion").value
            requestData.postal = document.getElementById("customForm-addressZip").value
            requestData.country = document.getElementById("customForm-addressCountry").value

        }
        const connectRemote = async () => {
            try {
                let response = await fetch(extURL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/jsoncharset=utf-8'
                    },
                    body: JSON.stringify(requestData),
                    mode: "cors"
                })

                return response.json()
                // if (!response.ok) {
                //   throw new Error('Failed to fetch')
                // }

                // console.log(response.json())


            } catch (e) {
                console.log('error')
                throw Error(e)
            }
        }

        function collapseSection(element) {
            // get the height of the element's inner content, regardless of its actual size
            var sectionHeight = element.scrollHeight;

            // temporarily disable all css transitions
            var elementTransition = element.style.transition;
            element.style.transition = '';

            // on the next frame (as soon as the previous style change has taken effect),
            // explicitly set the element's height to its current pixel height, so we
            // aren't transitioning out of 'auto'
            requestAnimationFrame(function() {
                element.style.height = sectionHeight + 'px';
                element.style.transition = elementTransition;

                // on the next frame (as soon as the previous style change has taken effect),
                // have the element transition to height: 0
                requestAnimationFrame(function() {
                    element.style.height = 0 + 'px';
                });
            });

            // mark the section as "currently collapsed"
            element.setAttribute('data-collapsed', 'true');
        }

        function expandSection(element) {
            // get the height of the element's inner content, regardless of its actual size
            var sectionHeight = element.scrollHeight;

            // have the element transition to the height of its inner content
            element.style.height = sectionHeight + 'px';

            // when the next css transition finishes (which should be the one we just triggered)
            element.addEventListener('transitionend', function(e) {
                // remove this event listener so it only gets triggered once
                element.removeEventListener('transitionend', arguments.callee);

                // remove "height" from the element's inline styles, so it can return to its initial value
                element.style.height = null;
            });

            // mark the section as "currently not collapsed"
            element.setAttribute('data-collapsed', 'false');
        }

        // when pressing the submit button
        // 1. do validation
        // 2. if validation is passed fetch data to ext script to process mailing of requested products
        const processForm = async (e) => {
            e.preventDefault() // prevents form submission
            subBtn.disabled = true

            // if form is valid proceeds to send it
            if (validate()) {
                formData() // collects all form data

                // checks if request data has any info
                // returns an array. If empty stops processing
                let testIfPopulated = Object.getOwnPropertyNames(requestData)
                if (testIfPopulated.length == 0) { return false }

                let result = await connectRemote() // submits the form and awaits for result.

                // Shows up confirmation message
                const requestFormConfirmation = document.querySelector('.requestForm-confirmation')
                const requestFormConfirmationOK = document.querySelector('.requestForm-confirmation-ok')


                if (result.process == 1) {
                    // success !
                    // Hides cart and submission form
                    const cartBody = document.querySelector('.cart__body')
                    const requestFormBody = document.querySelector('.requestForm-body')

                    collapseSection(cartBody)
                    collapseSection(requestFormBody)

                    cartBody.classList.add('cart__body--disabled')
                    requestFormBody.classList.add('requestForm-body--disabled')

                    cartBody.setAttribute('aria-hidden', 'true')
                    requestFormBody.setAttribute('aria-hidden', 'true')


                    requestFormConfirmation.classList.remove('requestForm-confirmation--disabled')
                    requestFormConfirmation.setAttribute('aria-hidden', 'false')
                    requestFormConfirmationOK.classList.remove('requestForm-confirmation-ok--disabled')
                    expandSection(requestFormConfirmation)

                    // clears cart
                    // uses shopify's AJAX API
                    var cartClearContents = fetch('/cart/clear.js')
                    .then(response => response.json())
                    .then(data => {
                        // hides bubbles
                        $('.header-cart__bubble.cartCount').css('opacity', 0);
                        return data

                    });

                } else {
                    // something went wrong
                    // changes inner classes
                    requestFormConfirmationOK.classList.add('requestForm-confirmation-error')
                    requestFormConfirmationOK.classList.remove('requestForm-confirmation-ok', 'requestForm-confirmation-ok--disabled')
                    // puts error message instead of ok message
                    requestFormConfirmationOK.innerHTML = '<h2>Something went wrong</h2><p>Please try again later.</p>'

                    requestFormConfirmation.classList.remove('requestForm-confirmation--disabled')
                    requestFormConfirmation.setAttribute('aria-hidden', 'false')
                    expandSection(requestFormConfirmation)
                    requestFormConfirmation.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
            } else {
                // reenables btn so that user can make amends and submit anew
                subBtn.disabled = false
            }

        }

        subBtn.onclick = processForm
    </script>