{% comment %}
    attempt to build a list of related products by fiber and style tag.
    ... so far it gets the associated fiber and stye tag for current product.

    ... missing getting products with those tags.
    ... Problems:
    ... - Shopify doesn't cue by tag (it does by category)
    ... - Shopify doesn't randomize results, always in same order

{% endcomment %}
<div class="customRelated wrapper">
    <h2>Other Products You Might Like</h2>
</div>


<!-- /snippets/shopifyexplorer-related-by-tag.liquid -->
{%- assign related_products_title = 'You Might Also Like' -%}
{%- assign recommendations = '' -%}
{% comment %}Find current product fiber tag and style tag {% endcomment %}
{% assign productTags = product.tags %}

{% for collection in product.collections %}

    {% if collection.title == 'Fiber' %}
        {% assign fibers = collection | json %}
        {% comment %} Gets part of array we need {% endcomment %}
        {% assign fibers_array = fibers | split: '"rules":[' | last %}

        {% assign fibers_array = fibers_array | split: '],"published_scope":"web"}' | first | split: '},' %}


        {% comment %}
            Loops through the array, if the condition part is a tag, with the word equal, then we extract the tag
        {% endcomment %}
        {% for rule in fibers_array %}
            {% if rule contains "tag" and rule contains "equal" %}
                {% assign fiberTag = rule | split: '":"' | last | split : '"' | first | downcase %}
                {% comment %}{{ fiberTag }}{% endcomment %}
                {% if productTags | downncase contains fiberTag %}
                    {% assign tag1 = fiberTag %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}

  {% endif %}

    {% if collection.title == 'Style' %}
        {% assign styles = collection | json %}
        {% comment %} Gets part of array we need {% endcomment %}
        {% assign styles_array = styles | split: '"rules":[' | last %}

        {% assign styles_array = styles_array | split: '],"published_scope":"web"}' | first | split: '},' %}


        {% comment %}
            Loops through the array, if the condition part is a tag, with the word equal, then we extract the tag
        {% endcomment %}
        {% for rule in styles_array %}
            {% if rule contains "tag" and rule contains "equal" %}
                {% assign styleTag = rule | split: '":"' | last | split : '"' | first | downcase %}
                {% comment %}{{ styleTag }}{% endcomment %}
                {% if productTags | downncase contains styleTag %}
                    {% assign tag2 = styleTag %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}

  {% endif %}

{% endfor %}