<div class='confirmationMessage confirmationMessage--disabled'>
    <div class='confirmationMessage-close'>&times;</div> <!-- /.confirmationMessage-close -->
    <div class='confirmationMessage-inner'>
        <h3>Thank you for Signing Up!</h3>
        <p>Soon you will be receiving information about new products and deals.</p>
    </div> <!-- /.confirmationMessage-inner -->
</div> <!-- /.confirmationMessage -->
<script>
    // Pop up actions
    $(window).load(function(){
        function GetURLParameter(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++)
            {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam)
                {
                   return sParameterName[1];
                }
            }
        }
        var value = GetURLParameter("customer_posted");
        console.log (value)
         if (value == 'true'){
            $('.confirmationMessage').fadeIn('fast');
         }
    });

    // Close action
    $('.confirmationMessage').on('click', function(){
        $(this).fadeOut('slow');
        if (history.pushState) {
             var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?customer_posted=false';
             window.history.pushState({path:newurl},'',newurl);
         }
    })
</script>