{% comment %}
RETURNS A UL LIST OF STYLE TAGS ASSOCIATED WITH A PRODUCT.
USE IT IN PRODUCT GRID AND SINGLE PRODUCT PAGE
{% endcomment %}


{% comment %}
    CAUTION:
    Make sure not to use variable names that are in use in files invoking this snippet.
    'collection' for instance is in use in index-collection which causes conflicts.
{% endcomment %}

{% for HC__collectionList in product.collections %}

    {% if HC__collectionList.title == 'Style' %}

        {% assign productTags = product.tags %}
         {% comment %}{{collection | json}}{% endcomment %}

        {% comment %}
            All the code below is becasue shopify doesn't give direct access to the tags of a collection
            SO...
            - Converts json to string
        {% endcomment %}
        {% assign colorCollection = HC__collectionList | json %}
        {% comment %}- splits the string at '"rules":[' so that we can get the tags block          {% endcomment %}
        {% assign colorCollection_array = colorCollection | split: '"rules":[' | last %}
        {% comment %}- removes unnecessary part of the string "published_scope":"web"}'         {% endcomment %}
        {% assign colorCollection_array = colorCollection_array | split: '],"published_scope":"web"}' | first | split: '},' %}

        <div class="product_meta product_meta--Style">
            <h3>Style</h3>
            <ul class="product_meta_list">
                {% comment %}-- loops through the array, if the condition part is a tag, with the word equal, then we extract the tag            {% endcomment %}
                {% for rule in colorCollection_array %}
                    {% if rule contains "tag" and rule contains "equal" %}
                        {% assign colorTag = rule | split: '":"' | last | split : '"' | first %}
                        {% if productTags contains colorTag %}
                            <li>{{ colorTag }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% endif %}

{% endfor %}