<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter"  width="12.946" height="10.306" viewBox="0 0 12.946 10.306">
  <path d="M476.29,482.934h8.375a1.323,1.323,0,0,0,2.3,0h.944a.662.662,0,0,0,0-1.323h-.944a1.323,1.323,0,0,0-2.3,0H476.29a.662.662,0,0,0,0,1.323Z" transform="translate(-475.628 -480.939)"/>
  <path d="M487.912,496.044h-7.994a1.323,1.323,0,0,0-2.3,0H476.29a.662.662,0,0,0,0,1.323h1.325a1.323,1.323,0,0,0,2.3,0h7.994a.662.662,0,0,0,0-1.323Z" transform="translate(-475.628 -491.553)"/>
  <path d="M487.912,510.477H484.3a1.322,1.322,0,0,0-2.3,0H476.29a.662.662,0,0,0,0,1.323H482a1.323,1.323,0,0,0,2.3,0h3.612a.662.662,0,0,0,0-1.323Z" transform="translate(-475.628 -502.166)"/>
</svg>
