<div class="product__form">
  {% comment %}
    Optional size chart - controlled by Magnific Popup
  {% endcomment %}
  {% if section.settings.info_page != blank %}
    {% assign size_page = pages[section.settings.info_page] %}
    <p class="text-center">
      <a id="toggleProductModal-{{ section.id }}" class="border-bottom-link uppercase" data-mfp-src="#ProductModal-{{ section.id }}">
        {{ size_page.title }}
      </a>
    </p>
    <div id="ProductModal-{{ section.id }}" class="product-modal mfp-hide">
      <div class="rte">{{ size_page.content }}</div>
    </div>
  {% endif %}

  {% unless product.template_suffix contains 'charge-rabbit' %}
    <div id="AddToCartForm-{{ section.id }}" data-section="{{ section.id }}" class="product-form-{{section.id}} product-form">
      {% form 'product', product %}
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="selector-wrapper js">
              <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-section="{{ section.id }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                  {% assign variant_avialable = true %}
                  {% if product.options.size == 1 %}
                    {% unless product.variants[forloop.index0].available  %}
                      {% assign variant_avialable = false %}
                    {% endunless %}
                  {% endif %}
                  <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}{% unless variant_avialable %} - {{ 'products.product.sold_out' | t }}{% endunless %}</option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        {% endunless %}

        <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>

        {% assign sold_out = true %}
        {% if current_variant.available  %}
          {% assign sold_out = false %}
        {% endif %}

        {% if section.settings.show_quantity %}
          <div class="js-qty quantity-selector" id="Quantity-{{section.id}}">
            <span class="js-qty__adjust js-qty__adjust--minus quantity__minus">&minus;</span>
            <input class="text quantity js-qty__num quantity__input" name="quantity" value="1" min="1" aria-label="quantity" pattern="[0-9]*"/>
            <span class="js-qty__adjust js-qty__adjust--plus quantity__plus">+</span>
          </div>
        {% endif %}


      	<!--
			HC:
			Custom fields for Broadloom
		-->
      <div class="customProductFields">

        <h3 class="customProductFields_headline">Select one or both options</h3>

        <p class="line-item-property__field">

          <label class="checkbox" for="request-a-quote">
            <span class="checkbox__input">
              <input type="hidden" name="properties[quote]" value="no">
              <input id="request-a-quote" type="checkbox" name="properties[quote]" value="yes">
              <span class="checkbox__control">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-box" viewBox="0 0 10 10"><g fill="none" fill-rule="evenodd"><path class="checkbox-border" stroke=""  d='M0 0 L10 0 L10 10 L0 10'></path><path class="checkbox-core" fill="" d='M02 2 L8 2 L8 8 L2 8'></path></g></svg>
              </span>
            </span>
            <span class="checkbox__label">Request a Quote</span>
          </label>

        </p>

        <fieldset id="quote-dimensions">
          <div class="fieldsetInner">
            <p class="line-item-property__field">
              <label for="width">Width *</label>
              <input id="width" type="text" name="properties[width]">
            </p>

            <p class="line-item-property__field">
              <label for="length">Length *</label>
              <input id="length" type="text" name="properties[length]">
            </p>
          </div>

          <p class="line-item-property__field--mandatory">* MANDATORY FIELD</p>

          <!-- HC, CUSTOM ERROR MESSAGES FOR FORM VALIDATION -->
          <div class="add-to-cart-errorDimensions">
            <div class="add-to-cart-errors-single add-to-cart-errors-single--dimensions add-to-cart-errors-single--disabled">
              <p class="customForm-alert--error">Please enter the width and length.</p>
            </div>
          </div>
          <!-- END OF HC -->

        </fieldset>

        <p class="line-item-property__field top_margin">

          <label class="checkbox" for="request-a-sample">
            <span class="checkbox__input">
              <input type="hidden" name="properties[sample]" value="no">
              <input id="request-a-sample" type="checkbox" name="properties[sample]" value="yes">
              <span class="checkbox__control">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-box" viewBox="0 0 10 10"><g fill="none" fill-rule="evenodd"><path class="checkbox-border" stroke=""  d='M0 0 L10 0 L10 10 L0 10'></path><path class="checkbox-core" fill="" d='M02 2 L8 2 L8 8 L2 8'></path></g></svg>
              </span>
            </span>
            <span class="checkbox__label">Request a Sample</span>
          </label>

        </p>

        <!-- HC, CUSTOM ERROR MESSAGES FOR FORM VALIDATION -->
        <div class="add-to-cart-errors">
          <div class="add-to-cart-errors-single add-to-cart-errors-single--sample add-to-cart-errors-single--disabled">
            <p class="customForm-alert--error">Please mark your choices</p>
          </div>
        </div>
        <!-- END OF ERRORS -->

        <p class="line-item-property__field top_margin top_extraSpace">
          <label for="extraNotes" class="AdditionalNotes_label">Additional Notes</label>
          <textarea id="extraNotes" name="properties[notes]" rows="4" placeholder="Any other comments about your request." ></textarea>
        </p>

      </div>
      <!--
			END OF HC:
			Custom fields for Broadloom
		-->




        <div class="add-to-cart__wrapper">
          <button type="submit" name="add" data-add-to-cart id="AddToCart-{{ section.id }}" class="btn btn--large btn--full btn--clear uppercase addToCart">
            <span id="AddToCartText-{{ section.id }}">SUBMIT REQUEST</span>
            <!-- HC, hide default copy and price
			<span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
			<span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
            <span class="unicode">•</span>
            <span class="add-to-cart__price"><span class="buttonPrice" id="ButtonPrice-{{ section.id }}" data-item-price="{{ current_variant.price }}">{{ current_variant.price | money }}</span></span>
			-->
          </button>
        </div>

        {% if section.settings.enable_payment_button %}
          {{ form | payment_button }}
        {% endif %}

      {% endform %}
    </div>
  {% else %}
    <form action="{{ product.metafields.charge_rabbit.subscribe_path }}" method="get" enctype="multipart/form-data" data-section="{{ section.id }}" class="product-form-{{ section.id }} charge-rabbit-product">
      <input type="hidden" name="customer_id" value="{{customer.id}}">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-section="{{ section.id }}" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
                {% assign variant_avialable = true %}
                {% if product.options.size == 1 %}
                  {% unless product.variants[forloop.index0].available  %}
                    {% assign variant_avialable = false %}
                  {% endunless %}
                {% endif %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}{% unless variant_avialable %} - {{ 'products.product.sold_out' | t }}{% endunless %}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
          {% endif %}
        {% endfor %}
      </select>

      {% assign sold_out = true %}
      {% if current_variant.available  %}
        {% assign sold_out = false %}
      {% endif %}

      <div class="add-to-cart__wrapper">
        <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--large btn--full btn--clear uppercase addToCart{% if sold_out %} disabled{% endif %}" {% if sold_out %}disabled="true"{% endif %}>
          <span id="AddToCartText-{{ section.id }}">{% if sold_out %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.join_membership' | t }}{% endif %}</span>
          <span class="unicode">•</span>
          <span class="add-to-cart__price"><span class="buttonPrice" id="ButtonPrice-{{ section.id }}" data-item-price="{{ current_variant.price }}">{{ current_variant.price | money }}</span></span>
        </button>
      </div>


    </form>
    {% include 'membership-product-callbacks' %}
  {% endunless %}
</div>

<div id="CartDrawerWrapper--{{ section.id }}" class="cart-drawer"></div>
