<!-- /snippets/search-result.liquid -->
{% comment %}

  This snippet defines the default structure of each search result.

  'item' refers to the result, but typically mimics the product liquid tag,
  so you can access product liquid tags with {{ item.XXX }}.

  Remember that results aren't specific to products, so don't depend on
  a featured image or item.type. Pages, for example, have a blank item.type.

  Product liquid tag info:
   - http://docs.shopify.com/themes/liquid-variables/product

{% endcomment %}

<div class="grid">

  {% if item.featured_image %}
    {% comment %}
      We have a featured_image, so it's likely a product
    {% endcomment %}
    <div class="grid__item one-sixth">
      <a href="{{ item.url }}" title="{{ item.title | escape }}">
        {{ item.featured_image.src | img_url: '1024x' | img_tag: item.featured_image.alt }}
      </a>
    </div>
    <div class="grid__item five-sixths">
  {% elsif item.object_type == 'article' and item.image %}
    <div class="grid__item one-sixth">
     <a href="{{ item.url }}" title="{{ item.title | escape }}">
       {{ item | img_url: '1024x' | img_tag: item.title }}
     </a>
    </div>
    <div class="grid__item five-sixths">
  {% else %}
    <div class="grid__item five-sixths push--one-sixth">
  {% endif %}

    <p class="h3--body">{{ item.title | link_to: item.url }}</p>

    {% include 'HC_productTags--inSearch--color' %}
    {% include 'HC_productTags--inSearch--fiber' %}

    {% comment %}
      To show the price, let's pull what was already done on the product page,
      but change product to item.
    {% endcomment %}
    {% if item.compare_at_price > item.price %}
      <span class="on-sale h5 money">
        {{ item.price | money }}
      </span>
      <s>
        <span class="money">{{ item.compare_at_price_max | money }}</span>
      </s>
    {% else %}
      <h5>
        <span class="money">{{ item.price | money }}</span>
      </h5>
    {% endif %}

    {% comment %}
      Get a brief excerpt of raw text from the page/product
    {% endcomment %}
    <p>{{ item.content | strip_html | truncatewords: 50 | replace: '<p>[split]</p>', '[split]' | replace: '[split]', '' | downcase }}</p>
  </div>


</div>

{% unless forloop.last %}<hr>{% endunless %}
