<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>

  <!-- ======================= Pipeline Theme V4.7.1 ========================= -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <!-- Title and description ================================================ -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ========================================================= -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ============================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
   <!-- THIS IS MY CUSTOM CSS =============================================== -->
   <!--
   /**
    * @license
    * MyFonts Webfont Build ID 3406311, 2017-06-13T16:09:59-0400
    *
    * The fonts listed in this notice are subject to the End User License
    * Agreement(s) entered into by the website owner. All other parties are
    * explicitly restricted from using the Licensed Webfonts(s).
    *
    * You may obtain a valid license at the URLs below.
    *
    * Webfont: UniversLTStd-LightObl by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/45-light-oblique/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd-Black by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/75-black/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1999, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd-BoldObl by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/65-bold-oblique/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd-Bold by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/65-bold/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/55-roman/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd-BlackObl by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/76-black-oblique/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1999, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1999, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd-Obl by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/55-oblique/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: UniversLTStd-Light by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/univers/45-light/
    * Copyright: Copyright &#x00A9; 1987, 1991, 1993, 1994, 1998, 2002 Adobe Systems
    * Incorporated.  All Rights Reserved. &#x00A9; 1981, 1998, 2002 Heidelberger
    * Druckmaschinen AG. All rights reserved.
    *
    * Webfont: SabonLTStd-Roman by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/sabon/roman/
    * Copyright: Copyright &#x00A9; 1989, 2002 Adobe Systems Incorporated.  All Rights
    * Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
    *
    * Webfont: SabonLTStd-Bold by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/sabon/bold/
    * Copyright: Copyright &#x00A9; 1989, 2002 Adobe Systems Incorporated.  All Rights
    * Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
    *
    * Webfont: SabonLTStd-BoldItalic by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/sabon/bold-italic/
    * Copyright: Copyright &#x00A9; 1989, 2002 Adobe Systems Incorporated.  All Rights
    * Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
    *
    * Webfont: SabonLTStd-Italic by Linotype
    * URL: https://www.myfonts.com/fonts/linotype/sabon/italic/
    * Copyright: Copyright &#x00A9; 1989, 2002 Adobe Systems Incorporated.  All Rights
    * Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
    *
    *
    * License: https://www.myfonts.com/viewlicense?type=web&buildid=3406311
    * Licensed pageviews: 250,000
    *
    * © 2017 MyFonts Inc
   */

   -->
  {{ 'MyFontsWebfontsKit.css' | asset_url | stylesheet_tag }}
  {{ 'HC_styles.css' | asset_url | stylesheet_tag }}
  {{ 'HC_styles_desktop.css' | asset_url | stylesheet_tag }}
  <!-- END NEW CODE  -->

  <!-- Vendor JS ============================================================ -->
  {{ 'vendor.js' | asset_url | script_tag }}

  <script>
    var theme = {
      routes: {
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        join: {{ 'products.product.join_membership' | t | json }}
      },
      info: {
        name: 'pipeline'
      },
      moneyFormat: {{ shop.money_format | json }},
      version: '4.7.1'
    }
  </script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Header hook for plugins ============================================== -->
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-animations="{{ settings.animations_enable }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main class="main-content" id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <!-- Theme Javascript ============================================================== -->
  {{ 'theme.js' | asset_url | script_tag }}

  <script>
    {% if newHash %}
      $(function() {
        timber.updateHash('{{ newHash }}');
      });
    {% endif %}
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  <!-- Paste popup code between comments ===================================== -->

  <!-- End popup ================================================== -->

{% include 'mw_PO_objects' %}</body>
</html>
