<!-- /templates/customers/activate_account.liquid -->
<div class="wrapper">

  <div class="grid page-margin">

    <div class="grid__item large--one-third push--large--one-third text-center">

      <h3>{{ 'customer.activate_account.title' | t }}</h3>
      <p>{{ 'customer.activate_account.subtext' | t }}</p>

      {% comment %}
        This form must use 'activate_customer_password'
      {% endcomment %}
      {% form 'activate_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

        <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

        <div class="text-center">
          <p>
            <input type="submit" class="btn btn--full" value="{{ 'customer.activate_account.submit' | t }}">
          </p>
          <p>
          <input type="submit" class="btn btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
          </p>
        </div>
      {% endform %}

    </div>

  </div>

</div>
