@media all and (min-width: 600px){
/*     homepage */
    .homepage-collection .grid-uniform {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
/*     single product  */
    .product-single{
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-column-gap: 30px;
    }
    .shopify-product-form{
        margin-left: 0px;
    }
    .related__wrapper{
        margin-bottom: 50px;
    }
    .related-section .grid__item{
        margin-bottom: 0px;
    }
    .related-section .grid-uniform{
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
    }
/*     Request form */
    .requestForm-template,
    .customForm-button-section{
        margin-left: auto;
        margin-right: auto;
        max-width: 625px;
        width: 100%;
    }
    .customForm-span-2{
        display: inline-block;
        width: calc(50% - 5px);
    }
    .customForm-span-2:first-child{
        margin-right: 5px;
    }
    .customFrom-editor--group{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
/*     Footer in contact page */
    #contact .footer__block:nth-child(3){
        display: block;
    }
}
@media all and (min-width:770px) {

    /* STYLES FOR TABLET AND DESKTOP */
    /* TOP BAR */
    .header-search__wrapper {
        right: 35px;
    }

    .wrapper {
        padding: 0 35px;
        max-width: 1250px;
    }

    /* HEADER */
    .header-logo a {
        padding: 18px 0px 15px;
    }
      .showDesktop .nav--desktop {
        position: static;
    }

    .showDesktop .nav--mobile {
        display: none;
    }

    .nav--desktop .header-logo svg {
        height: 54px;
        margin-left: -7px;
        width: 266px;
    }

    .nav--desktop .header-menu>ul>li:first-child {
        margin-left: 0px;
    }

    .nav--desktop .header-menu>ul>li {
        margin-left: 20px;
    }

    .nav--desktop .header-menu>ul>li>a {
        color: var(--clear);
        font-size: 11px;
        line-height: 1.15;
        letter-spacing: 0.65px;
        padding-bottom: 0px;
        padding-top: 36px;
    }

    .nav--desktop .header-menu>ul>li>a:hover,
    .nav--desktop .header-menu>ul>li>a:active,
    .nav--desktop .header-menu>ul>li>a:focus {
        color: var(--clear);
    }

    .nav--desktop .header-menu>ul>li.main-menu--active>a {
        color: var(--light-grey);
    }

    /*  requested items indicator */
    .nav--desktop .header-menu .header-cart__bubble {
        background-color: var(--errorBg);
        border-radius: 50%;
        display: inline-block !important;
        margin-left: -5px;
        margin-top: 0px;
        width: 10px;
        height: 10px;
        transform: translateY(-5px);
    }

    .nav--desktop .header-menu .header-cart__bubble.hidden-count {
        display: none !important;
    }

    /* GENERAL FOR ALL   */
    #MainContent {
        padding-top: 107px;
    }

    .title--flex,
    .title--flex a {
        font-size: 55px;
        line-height: 1.18;
        text-shadow: 0 0 6px #000000;
    }

    .grid,
    .grid--rev,
    .grid--full,
    .grid-uniform {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .rte {
        margin-bottom: 25px;
    }

    p {
        font-size: 15px;
        margin: 0 0 25px 0;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: normal;
        text-align: left;
        color: var(--navy-blue);
    }
    .customForm-alert--error{
        font-size: 15px;
    }
    .add-to-cart-errors-single--sample p{
        padding-left: 25px;
    }
/*     Confirmation message */
    .confirmationMessage{
        left: 50%;
        margin-top:200px;
        padding:75px 65px 60px;
        transform: translateX(-50%);
    }
    .confirmationMessage-inner h3{
        font-size: 44px;
    }
    .confirmationMessage-inner h3::after{
        margin: 30px auto 57px;
    }
    .confirmationMessage-inner p{
        font-size: 22px;
        line-height: 1.18;
    }
    /*  footer */
    .footer-logo-wrapper {
        padding: 0px 0px 120px;
    }

    .site-footer .grid-uniform {
        grid-column-gap: 40px;
    }

    .footer__title {
        font-size: 12px;
        line-height: 1.15;
        margin-bottom: 13px;
    }

    .site-footer-wrapper .grid-uniform {
        margin-bottom: 60px;
    }

    .site-footer-wrapper .hr--underline {
        border-bottom-width: 3px;
        margin-bottom: 37px;
    }

    .footer-quicklinks li {
        margin-bottom: 20px;
    }

    .footer-quicklinks a {
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0.75px;
    }

    .footer-secondary-wrapper {
        margin-bottom: 40px;
    }

    .footer-secondary a {
        font-size: 11px;
    }

    /*  homepage */
    .homepage-slideshow .h4--body {
        font-family: UniversLTStd-Light;
        font-size: 25px;
        font-weight: 300;
        line-height: 1.2;
        text-shadow: 0 0 6px #000000;
    }

    .homepage-image.homepage--white .btn--clear {
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: 0.65px;
        padding: 20px 26px 18px;
    }

    .homepage-collection .product-grid-item {
        margin-bottom: 30px;
    }

    .homepage-blog,
    .homepage-product,
    .homepage-columns,
    .homepage-icons,
    .homepage-newsletter,
    .homepage-collection {
        padding: 84px 0px 0px;
    }

    .home__subtitle {
        font-size: 50px;
        line-height: 1.08;
        margin-bottom: 65px;
        padding-bottom: 33px;
    }

    .home__subtitle::after {
        height: 3px;
    }

    /* homepage all products button  */
    .homepage-collection-grid {
        margin: 50px 0px 100px;
        padding: 0px;
    }

    .homepage-collection-grid .grid {
        display: block;
    }

    .homepage-collection-grid .collection-grid-item__link {
        display: block;
        width: 180px;
        margin: 0px auto;
    }

    .homepage-collection-grid .btn--clear,
    .homepage-collection-grid .btn.uppercase,
    .homepage-collection-grid .collection-grid-item__content {
        margin: 0px;
        width: 100%;
    }

    /*  bottom banner */
    .template-index .shopify-section>.homepage-image {
        display: block;
        margin-bottom: 60px;
        height: 400px !important;
    }

    /*  collection  */
    #FeaturedImage-collection {
        max-height: 280px;
    }

    #FeaturedImage-collection .parallax-mirror {
        top: -1px !important;
    }
    /*     COLLECTION FILTERS  */
    #collectionFilters {
        display: none;
    }

    /*  filter toggle */
    .collection .text-left {
        padding: 50px 0 30px;
    }

    #toggleFilters--desktop {
        margin: 0px;
        padding: 16px 14px 14px;
    }

    /*  sort by */
    .collection .collection__sort {
        padding-top: 50px;
    }

    .collection .collection__sort label {
        color: var(--brown-grey);
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 0.65px;
        margin-right: 18px;
        text-align: center;
    }

    #SortBy {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 0.65px;
        padding: 16px 14px 14px;
    }

    /*  collection grid */
    .grid.collection-wrapper {
        grid-template-columns: 180px auto;
    }
    .collection{
        padding-bottom: 116px;
    }
    .collection.sidebar--hidden .grid.collection-wrapper {
        grid-template-columns: 1fr;
    }

    .collection .grid:after {
        display: none;
    }
    .collection-content hr {
        margin: 0px 0px 92px;
    }
    .collection .collection-content .grid-uniform {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    .collection.sidebar--hidden .collection-content .grid-uniform {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .collection .hr--small {
        margin: 0px 0px 30px;
    }

    .collection-content .grid__item {
        margin-bottom: 30px;
    }

    .collection-content .grid__item-sizer {
        margin-bottom: 10px;
    }

    .collection-content .h5--accent.strong.name_wrapper {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.6px;
        margin-bottom: 4px;
        text-align: center;
    }

    /*  filter */
    #collectionFilters {
        margin: 0px;
        padding-right: 30px;
        width: 200px;
    }

    .collection-nav.collection-nav--grouped {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
    }

    .collection-nav.collection-nav--grouped .sidebar__item {
        margin-bottom: 12px;
        width: 100%;
    }

    .sidebar__heading.h6--accent {
        margin: 0px 0px 20px;
    }

    /* collection footer image */
    .template-collection .collection-footer {
        display: flex;
        margin-bottom: 60px;
    }

    .template-collection .collection-footer img {
        height: auto;
        object-fit: cover;
        width: 100vw;
    }

    /* Product Page */
    .product-page {
        padding-top: 60px;
        padding-bottom: 78px;
    }

    .product-page .grid.product-single {
        display: block;
        /*      grid-template-columns: 2fr 3fr;
        grid-column-gap: 40px; */
    }

    .product-page .grid.product-single .grid__item.large--two-thirds {
        display: inline-block;
        margin-right: 40px;
        width: 40%;
    }

    .product-page .grid.product-single .grid__item.large--one-third {
        display: inline-block;
        margin-bottom: 0px;
        width: calc(60% - 40px);
    }

    #productInfo-product .text-center,
    #productInfo-product .product__form {
        max-width: 450px;
    }

    /*     product form */
    .shopify-product-form {
        max-width: 100%;
    }

    .product-page .text-center h1 {
        font-size: 50px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.08;
        margin-bottom: 25px;
    }

    .product-page .grid__item .product_meta h3 {
        margin-bottom: 12px;
    }

    .product-page .grid__item .product_meta {
        margin-bottom: 25px;
    }

    .product-page .grid__item .product_meta li {
        font-size: 27px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
    }

    .product-page .product-description {
        margin: 0px 0px 50px;
    }

    .line-item-property__field textarea {
        font-size: 15px;
    }

    /*  Related */
    .related__wrapper {
        margin-bottom: 140px;
    }

    .related__wrapper .grid {
        grid-template-columns: 1fr;
    }

    .related__wrapper .grid:after {
        display: none;
    }

    .related__wrapper .home__subtitle {
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        padding: 0px 0px 22px;
        margin-bottom: 65px;
    }

    .related__wrapper .grid-uniform {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #CartDrawerWrapper--product {
        top: 120px !important;
    }
/*     Cart - Requests */
    .cart .wrapper {
        padding-top: 75px;
    }
    .cartForm{
        margin-bottom: 0px;
    }
    .cart .wrapper h1{
        font-size: 55px;
        line-height: 1.09;
        margin-bottom: 30px;
        padding-bottom: 34px;
    }
    .cart__header-labels{
        display: none;
    }
    .cart .requestedItemPriceQty{
        display: none;
    }
    .cart__row .cart__row--table-large{
        grid-template-columns: 1fr;
    }
    .cart__row--table-large .grid__item{
        width: 100%;
    }
    .cart__row--table-large.requestedItem-info{
        grid-template-columns: 120px 1fr;
        grid-column-gap: 30px;
    }
    .cart__row--table-large.requestedItem-info .cart__item__title{
        padding-left: 0px !important;
    }
/*     request form */
    .requestForm-body{
        padding-top:22px;
        border-top:  solid 2px var(--very-light-pink);
    }
    .requestForm-body.requestForm-body--disabled{
        border:none;
    }
/* Contact Page */

    #FeaturedImage-page-images{
        height: 280px;
        margin-top: -1px;
    }
    #contact .grid{
        padding-top:91px;
    }
    #contact .grid__item{
        margin-bottom: calc(127px - 25px);
    }
    #contact .rte p {
        margin-bottom: 25px;
    }
    #contact .rte h3{
        margin-bottom: 12px;
        margin-top: 30px;
    }
    #contact .rte p a{
        font-size: 27px;
        line-height: 1.07;
    }
    #contact_form textarea{
        margin-bottom: 32px;
    }
    #contact_form .form-success{
        font-size:18px;
    }
/*     ABOUT */
    #about #MainContent .grid{
        display: grid;
        grid-template-columns: 1fr;
        max-width:750px;
        margin-left:auto;
        margin-right:auto;
        padding-top:91px;
    }
    #about #MainContent .grid__item{
        left:0px;
        margin-bottom: 131px;
    }
    .template-page h2{
        font-size: 27px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
    }
    .template-page h2:nth-child(n+2){
        margin-top:80px;
    }
/*     SEARCH */
    .template-search #MainContent .wrapper > .grid{
        display: grid;
        grid-template-columns: 1fr;
        max-width:725px;
        margin-left:auto;
        margin-right:auto;
        padding-top:57px;
    }
    .template-search .wrapper > .grid > .grid__item{
        margin-bottom: 131px;
    }
    .template-search #MainContent  .grid__item{
        left:0px;
    }
    .template-search .grid h1 {
        font-size: 27px;
        margin-bottom: 28px;
    }
    .template-search .grid .search-bar{
        margin-bottom: 33px;
    }
    .template-search .grid input{
        padding: 17px 12px 14px;
    }
    .template-search .grid .grid{
        padding-top: 31px;
        margin-top: 31px;
    }
    .template-search .grid .grid .h3--body{
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
    }
    .template-search .grid .grid p{
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: normal;
        margin-top: 9px;
    }
    .template-search .pagination-custom{
        margin-top:117px;
    }
    /*     404 page not found */
    .template-404 .grid{
        grid-template-columns: 1fr;
    }
    .template-404 .grid__item {
        margin-bottom: 131px;
        margin-top: 91px;
        left: 0px;
    }
    .template-404 .title.text-center {
        font-size: 55px;
        line-height: 1.18;
        margin-bottom: 91px;
    }
}

@media all and (min-width:900px) {

    /*  navigation */
    .nav--desktop .header-menu>ul>li {
        margin-left: 35px;
    }

    .nav--desktop .header-menu>ul>li>a {
        font-size: 13px;
    }

    /*  footer */
    .site-footer .grid-uniform {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }

    /*  general */
    .grid,
    .grid--rev,
    .grid--full,
    .grid-uniform {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .homepage-collection .grid-uniform {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*  bellow collection image */
    .collection .wrapper {
        padding: 0px 100px 0px;
    }

    .collection .collection-content .grid-uniform {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Product Page */
    .product-page .grid.product-single {
        grid-column-gap: 100px;
    }

    .product-page .grid.product-single .grid__item.large--two-thirds {
        margin-right: 100px;
        width: 40%;
    }

    .product-page .grid.product-single .grid__item.large--one-third {
        width: calc(60% - 100px);
    }
}

@media all and (min-width:1100px) {

    /*  general */
    .grid,
    .grid--rev,
    .grid--full,
    .grid-uniform {
        grid-column-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .homepage-collection .grid-uniform {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #MainContent .wrapper {
        padding-left: 95px;
        padding-right: 95px;
    }

    /*  footer */
    .site-footer-wrapper .wrapper {
        padding-left: 130px;
        padding-right: 130px;
    }

    .site-footer .grid-uniform {
        grid-template-columns: .8fr 1fr 1.2fr;
        grid-column-gap: 50px;
    }

    /*  collection */
    .collection .collection-content .grid-uniform {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 40px;
    }

    .collection.sidebar--hidden .collection-content .grid-uniform {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*  Product Page */
    .product-page .grid.product-single .grid__item.large--two-thirds {
        margin-right: 170px;
        width: 40%;
    }

    .product-page .grid.product-single .grid__item.large--one-third {
        width: calc(60% - 170px);
    }
/*     Cart - Requests */
    .requestForm-heading{
        float: left;
    }
    .requestForm-template{
        float:right;
    }
    .customForm-button-section{
        float:right;
    }
}