/* COLORS */
:root {
    --brownish-grey: #707070;
    --brown-grey: #959595;
    --button-hover: rgba(88, 94, 113, 0.15);
    --clear: #ffffff;
    --clearTransp: rgba(255, 255, 255, .75);
    --dark: rgba(0, 0, 0, .5);
    --light-grey: #d9d8d8;
    --navy-blue: #00194d;
    --very-light-pink: #f2f2f2;
    --white: #f7f7f7;
    --error: #d02e2e;
    --errorBg: #fff6f6;
}

/* GENERAL  */
body,
input,
textarea,
button,
select,
.popout__toggle {
    font-family: UniversLTStd;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: var(--navy-blue);
}

.wrapper {
    padding: 0 20px;
}

.body,
.h1--body,
.h2--body,
.h3--body,
.h4--body,
.h5--body,
.h6--body,
p {
    font-family: UniversLTStd-Light;
    font-weight: normal;
    font-style: normal;
}

.title,
h1,
.h1,
h2,
.h2,
h3,
.h3,
.sky-pilot-access-denied h5,
.sky-pilot-access-denied .h5,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.header-logo,
.home__title,
.title--flex,
.product-form label,
.password__hero {
    font-family: SabonLTStd-Roman;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
}

.accent,
.uppercase,
.nav--mobile .main-menu li a.nav-link,
.nav--desktop .main-menu>li>a,
.nav--desktop .grandparent .parent .child a,
.nav--desktop .grandparent>.main-menu-dropdown>ul>.parent>a,
.nav--desktop .grandparent>.main-menu-dropdown>ul>.child>a,
.nav--desktop .main-menu>.parent>.main-menu-dropdown,
.footer-social,
.footer-payment,
.sticker,
.share__link,
.sidebar__item a,
.selector-wrapper label,
.quantity-selector__wrapper label,
.popout__toggle,
.popout-list__option,
.blog__tag,
.item__vendor,
.product__add__message,
.h1--accent,
.h2--accent,
.h3--accent,
.h4--accent,
.h5--accent,
.home__subtitle,
.h6--accent,
.footer-secondary,
.footer-quicklinks,
.breadcrumb .wrapper {
    font-family: UniversLTStd;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.75px;
    padding: 0px;
}

.rte {
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    margin: 0 0 20px 0;
}

p:last-child {
    margin: 0px;
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
    padding: 0px;
    margin: 0px;
}
.grid-uniform{
    display: block;
    overflow: hidden;
}

.grid__item {
    margin: 0px 0px 25px;
    padding-left: 0px;
    width: 100%;
}

.grid__item-sizer {
    margin: 0px 0px 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.grid__item-sizer a {
    width: 100%;
    padding-top: 100% !important;
    position: relative;
}

.grid__item-sizer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-grid-item .figcaption.under {
    line-height: 1;
    padding: 0px;
}

a .price_wrapper {
    display: none;
}

.h5--accent.strong.name_wrapper {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--brown-grey);
}

.grid__item .product_meta {
    display: block;
    line-height: 1;
    clear: both;
}

.grid__item .product_meta_list {
    display: inline-block;
    line-height: 1;
    margin-bottom: 0px;

}

.btn--clear,
.btn.uppercase {
    background-color: transparent;
    border: 1px solid var(--brownish-grey);
    color: var(--brownish-grey);
    font-family: UniversLTStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.65px;
    padding: 15px 30px 13px;
    text-align: center;
    transform: none;
}

.btn--clear:hover,
.btn--clear:focus,
.btn--clear:active {
    background-color: var(--button-hover);
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    height: 100% !important;
}

/* GENERAL FORMS */
form {
    outline: none !important;
}

fieldset {
    border: none;
    padding: 0px;
    margin: 0px;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select,
.popout__toggle {
    border: solid 1px var(--brown-grey);
    border-radius: 4px;
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.6px;
    padding: 13px 20px 10px;
    text-align: left;
    margin: 0px;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus,
.popout__toggle:focus {
    border: solid 1px var(--brown-grey);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

input[type="submit"],
input[type="submit"].btn {
    background-color: var(--navy-blue);
    color: var(--clear);
    font-family: UniversLTStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.65px;
    padding: 15px 30px 13px;
    text-align: center;
    transform: none;
    width: 100%;
}

.fieldsError input[type="text"],
.fieldsError input[type="search"],
.fieldsError input[type="password"],
.fieldsError input[type="email"],
.fieldsError input[type="file"],
.fieldsError input[type="number"],
.fieldsError input[type="tel"],
.fieldsError input[type="url"],
.fieldsError textarea,
.fieldsError select,
.fieldsError .popout__toggle {
    border: solid 1px var(--error);
}

.form-error,
.errors,
.customForm-alert--error {
    background-color: var(--errorBg);
    border: none;
    color: var(--error);
    font-family: UniversLTStd-Light;
    line-height: 1;
    margin-bottom: 25px;
    margin-top: -15px;
    padding: 6px 20px 5px;
    border-radius: 4px;
}

.form-error,
.errors {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* INFO - SEARCH BAR */
.info-bar {
    background-color: var(--light-grey);
    padding: 7px 0 8px;
}

.info-bar :after {
    background-color: transparent;
}

.header-search .search-bar {
    color: var(--brown-grey);
    font-size: 14px !important;
    font-family: UniversLTStd;
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.45px;
    width: 0px;
}
.header-search__wrapper {
	right: 20px;
}
.header-search .search-bar:focus,
.header-search .search-bar:active {
    background-color: transparent;
    max-width: calc(100vw - 16px - 40px);
    /* 100vw minus right maring (in theory should be -24 but didn't work) and  side paddings */
    padding-right: 10px;
    width: 480px;
}
.header-search .search-btn{
    top:-2px;
}
/* HEADER */
.header__wrapper {
    box-shadow: 0px 0px 3px 0px var(--dark);
}

#shopify-section-header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10000;
}

.site-header {
    border-bottom: none;
}

.header-logo a {
    padding: 15px 0 10px;
    line-height: 1;
}
.header-logo svg{
    width: 190px !important;
height: 38px !important;
}
.site-header.showMobile,
.site-header.showDesktop {
    background-color: var(--navy-blue);
}
.showDesktop .nav--mobile {
    display: block;
}
.showDesktop .nav--desktop {
    position: absolute;
}

.nav--mobile .header-cart__wrapper {
    height: 17px;
    width: 20px;
}

.nav--mobile .header-cart__bubble {
    left: 15px;
    background-color: var(--very-light-pink);
}

/* DROP DOWN NAVIGATION IN MOBILE */
.nav--mobile .header-menu {
    background-color: var(--navy-blue);
    padding: 35px 20px;
}

.nav--mobile .main-menu li {
    padding-bottom: 35px;
    border: none;
}

.nav--mobile .main-menu li a.nav-link {
    color: var(--clear);
    font-family: SabonLTStd-Roman;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
}

.nav--mobile .grandparent.main-menu--expanded>.main-menu-dropdown,
.nav--mobile .parent.main-menu--expanded>.main-menu-dropdown,
.nav--mobile .header-menu.main-menu--expanded {
    top: 63px;
    min-height: calc(100vh - 63px - 15px);
}

/* FOOTER */
.footer-logo-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 0 0 37px;
}

.footer-logo svg {
    width: 208px;
}

.footer-logo path {
    fill: var(--navy-blue);
}

.footer__title {
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    margin-bottom: 12px;
}

.site-footer-wrapper .hr--underline {
    border: none;
    border-bottom: 2px solid var(--brown-grey);
    margin-bottom: 20px;
}

.footer__block,
.footer__block:not(:first-child) {
    margin-top: 0px;
}

.footer-quicklinks ul {
    margin-bottom: 0px;
}

.footer-quicklinks li {
    margin-bottom: 24px;
}

.footer-quicklinks li:last-child {
    margin-bottom: 0px;
}

.footer-quicklinks a {
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    text-align: left;
    color: var(--navy-blue);
}

.footer-quicklinks a:hover {
    color: var(--navy-blue);
}

.footer__block.grid__item {
    margin-bottom: 40px;
}

.footer__block .rte {
    color: var(--navy-blue);
}

.footer-secondary-wrapper {
    margin-top: 0px;
    margin-bottom: 36px;
}

.footer-selects {
    margin-top: 0px;
}

.footer-secondary.inline-list {
    margin-top: 0px;
}

.footer-secondary li {
    margin: 0px;
}

.footer-secondary a {
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
}

.footer-secondary a:hover {
    color: var(--navy-blue);
}

/* NEWSLETTER FORM FOOTER */
.footer__block .contact-form {
    margin-bottom: 0px;
}

.newsletter-form {
    border: none;
    background-color: var(--very-light-pink);
    padding: 4px 5px;
}

.newsletter-form input {
    padding-left: 7px;
    padding-right: 7px;
}
/*
        hides the error message that the theme adds
        This error appears only in the contact page
        because the theme, mistakely, has the same id for
        contact form and newsletter form. So when there's
        an error with the main contact form, the error message
        is added to both forms (!)
    */
.footer__block form p {
    display: none;
/*     border-radius: 4px;
    color: var(--error);
    background-color: var(--errorBg);
    font-family: UniversLTStd-Light;
    font-style: normal !important;
    line-height: 1;
    margin-bottom: 15px;
    margin-top: 25px;
    padding: 6px 20px 5px;
    text-transform: capitalize; */
}

.footer__block form p em {
    font-style: normal !important;
}

.input-group-field {
    font-size: 11px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
}

.input-group-field::placeholder {
    color: var(--brown-grey);
}

#contact_form .input-group.newsletter-form input[type="email"] {
    border: none;
    margin-bottom: 0px;
}

#contact_form .input-group.newsletter-form .input-group-btn .btn,
#contact_form .input-group.newsletter-form .input-group-btn input[type="submit"] {
    border-radius: 4px;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.45px;
    margin-top: 0px;
    text-align: center;
    color: var(--clear);
}

.input-group-btn .btn.uppercase {
    background-color: var(--navy-blue);
    border: 1px solid var(--navy-blue);
}

/* invisible in contact page because theme's bug... both contact form and newsletter have the same id(!) */
#contact .footer__block:nth-child(3) {
    display: none;
}

.confirmationMessage{
    background-color: var(--white);
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    left: 4%;
    max-width: 700px;
    padding: 60px 40px 40px;
    position: fixed;
    top: 120px;
    width: 92%;
    z-index: 20000;
}
.confirmationMessage--disabled{
    display: none;
}
.confirmationMessage-close{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: normal;
    right: 20px;
    position: absolute;
    top:20px;
    line-height: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.confirmationMessage-inner h3{
  color: var(--navy-blue);
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  text-transform: none;
}
.confirmationMessage-inner h3::after {
    content: " ";
    border-bottom: solid 3px var(--brown-grey);
    width: 80px;
    display: block;
    /*! margin-left: auto; */
    /*! margin-right: auto; */
    margin: 30px auto 30px;
}
.confirmationMessage-inner p{
    text-align: center;
}

/*  CONTENTS  */
#MainContent {
    padding-bottom: 0px;
    padding-top: 93px;
}

/* HOME PAGE */

.title--flex,
.title--flex a {
    font-size: 30px;
    color: var(--clear);
    margin-bottom: 26px;
    text-shadow: 0 0 6px #000000;
    text-transform: none;
}

.homepage-slideshow .h4--body {
    color: var(--clear);
    font-family: UniversLTStd;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.53;
    margin-bottom: 51px;
    padding-bottom: 18px;
    text-align: center;
    text-shadow: 0 0 6px var(--dark);
}

.homepage-image.homepage--white .btn--clear {
    box-shadow: 0 0 6px var(--dark);
    color: var(--clear);
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    padding: 15px 30px;
    text-align: center;
    text-shadow: 0 0 6px var(--dark);
}

.homepage-image.homepage--white .btn--clear:hover,
.homepage-image.homepage--white .btn--clear:focus,
.homepage-image.homepage--white .btn--clear:active {
    background-color: var(--clearTransp);
    color: var(--dark);
    text-shadow: none;
}

.slick-slider {
    height: 100%;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    height: 100%;
}

.slick-initialized .slick-slide {
    height: 100% !important;
}


.homepage-blog,
.homepage-product,
.homepage-columns,
.homepage-icons,
.homepage-newsletter,
.homepage-collection {
    padding: 40px 20px 0px;
}

.home__subtitle {
    color: var(--navy-blue);
    font-family: SabonLTStd-Roman;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    margin-bottom: 38px;
    padding-bottom: 18px;
    text-align: center;
    text-transform: none;
    opacity: 1;
}

.template-index .homepage-image {
    display: none;
}

.template-index .homepage-slideshow .homepage-image {
    display: block;
}

.home__subtitle::after {
    background: var(--brown-grey);
    height: 2px;
    opacity: 1;
    width: 88px;

}

.grid-uniform::after {
    display: none;
}

.homepage-collection .product-grid-item {
    margin-bottom: 25px;
}

.grid__item .product_meta h3 {
    display: none;
}

.grid__item .product_meta li {
    color: var(--brown-grey);
    display: inline-block;
    font-family: UniversLTStd;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

.grid__item .product_meta li:after {
    content: ", ";
}

.grid__item .product_meta li:last-child:after {
    content: "";
    margin-right: 0px;
}

/* homepage view all button  */
.homepage-collection-grid {
    padding-bottom: 57px;
}

.homepage-collection-grid .homepage-image {
    display: block;
}

.homepage-collection-grid .grid__item {
    margin-bottom: 0px;
    float: none;
}

.homepage-collection-grid .collection-grid-item {
    display: flex;
    justify-content: center;
    min-height: auto !important;
    margin: 0px;
}

.homepage-collection-grid .collection-grid-item .collection-grid-item__overlay,
.homepage-collection-grid .collection-grid-item .image-overlay {
    display: none;
}

.homepage-collection-grid .collection-grid-item .collection-grid-item__link {
    background-color: transparent;
    border: none;
    color: var(--brownish-grey);
    display: inline-block;
    font-family: UniversLTStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.65px;
    padding: 0px;
    position: relative;
    text-align: center;
}

.homepage-collection-grid .collection-grid-item .collection-grid-item__link:hover .btn {
    transform: none;
    background-color: var(--brownish-grey);
    color: var(--clear);
}

.homepage-collection-grid .collection-grid-item .collection-grid-item__link .btn--outline {
    margin: 0px;
}

.homepage-collection-grid .collection-grid-item .collection-grid-item__link .collection-grid-item__content {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%;
    top: 0px;
}

.homepage-collection-grid .collection-grid-item .btn.btn--clear {
    border: 1px solid var(--brownish-grey);
    color: var(--brownish-grey);
    text-shadow: none;
}
.homepage-collection .grid__item .product_meta li{
    font-size:12px;
}

/* COLLECTION */
#FeaturedImage-collection {
    display: block;
    min-height: 135px !important;
}

#FeaturedImage-collection .title--flex {
    margin-bottom: 0px;
}

.collection {
    padding-top: 0;
    padding-bottom: 57px;
}

.collection .text-left {
    float: left;
    padding: 15px 0px 16px;
}

#toggleFilters {
    border-radius: 4px;
    border: solid 1px var(--brown-grey);
    margin: 0px;
    padding: 11px 15px 10px;
}

#toggleFilters.is-active {
    background-color: var(--button-hover);
}

.icon-filter path {
    fill: var(--brown-grey);
}

.collection .collection__sort {
    float: right;
    padding-top: 15px;
}

#SortBy {
    border-radius: 4px;
    box-shadow: none;
    color: var(--brown-grey);
    border: solid 1px var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 12px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    padding: 10px 15px 10px;
    text-align: left;
    text-transform: uppercase;
    width: 190px;
}
#SortBy option{
    font-family: Sans-Serif !important;;
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    margin: 5px 0px;
    text-align: left;
    text-transform: uppercase !important;
    -webkit-appearance:none;
}

.collection .hr--small {
    border-width: 2px 0px 0px;
}

.sidebar__heading.h6--accent {
    color: var(--navy-blue);
    font-family: SabonLTStd-Roman;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin: 0px 0px 12px;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
}

.collection-filters.grid__item {
    margin: 16px 0px;
}

.collection-nav.collection-nav--grouped {
    border: none;
    margin: 0px 0px 32px;
    padding: 0px;
}

.collection-nav.collection-nav--grouped {
    display: grid;
    grid-template-columns: 1fr;
}

.collection-nav.collection-nav--grouped .sidebar__item {
    display: inline-block;
    margin: 0px 0px 10px 0px;
    max-width: 200px;
    width: 60%;
}

.collection-nav.collection-nav--grouped .sidebar__item a {
    color: var(--brown-grey);
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.55px;
    text-align: left;
    padding-left: 30px;
}

.sidebar__item .icon-box {
    top: -2px;
    left: 0px;
}

.sidebar__item .checkbox-border {
    stroke: var(--brown-grey);
    stroke-width: 2px;
}

.sidebar__item:hover>.icon-box .checkbox-core {
    fill: var(--brown-grey);
}

.sidebar__item .icon-reset {
    top: -1px;
    left: 0px;
}

.sidebar__item .icon-reset path {
    fill: var(--brown-grey);
}

.collection-content.page-margin {
    padding: 0px;
    margin: 0px;
}

.collection-content .grid-uniform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.collection-content hr {
    border-width: 0px;
    margin: 0px 0px 13px;
}

.collection-content .grid__item {
    margin-bottom: 25px;
}

.collection-content .grid__item-sizer {
    margin-bottom: 15px;
}

.collection-content .h5--accent.strong.name_wrapper {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    margin-bottom: 4px;
    text-align: center;
}

/* pagination */
.pagination-custom>li>a,
.pagination-custom>li>span,
.spr-pagination-page>a,
.spr-pagination-page.is-active,
.spr-pagination .spr-pagination-deco,
.spr-pagination-next>a,
.spr-pagination-prev>a,
.sky-pilot-pagination>span>a {
    border: solid 1px var(--brownish-grey);
    color: var(--brownish-grey);
    font-family: UniversLTStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.65px;
    line-height: 1.15;
    padding-top:7px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.pagination-custom>.active>a,
.pagination-custom>.active>span,
.pagination-custom>.active>a:hover,
.pagination-custom>.active>span:hover,
.pagination-custom>.active>a:focus,
.pagination-custom>.active>span:focus {
    color: var(--navy-blue);
    font-family: UniversLTStd-Bold;
}

.pagination-custom>li.disabled>span {
    opacity: 0.5;
}

.pagination-custom>li>a:hover,
.pagination-custom>li>span:hover,
.pagination-custom>li>a:focus,
.pagination-custom>li>span:focus,
.sky-pilot-pagination>span>a:hover {
    color: var(--navy-blue);
}

.pagination-custom,
.sky-pilot-pagination {
    margin: 0px;
}

/* collection footer image */
.template-collection .collection-footer {
    display: none;
}

/* PRODUCT PAGE */
.product__photo-sizer {
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.product__photo-sizer .lazy-image {
    width: 100%;
    padding-top: 100% !important;
    position: relative;
    background-size: unset;
}

.product__photo-sizer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-page {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-page .slick-slider {
    margin: 0px;
}

.product-page .text-center {
    text-align: left !important;
}

.product-page .text-center h1 {
    color: var(--navy-blue);
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
}

.product-page .grid__item .product_meta h3 {
    color: var(--brown-grey);
    display: block;
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    margin-bottom: 8px;
    text-align: left;
}

.product-page .grid__item .product_metaBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}
.product-page .grid__item .product_meta {
    margin: 0px 0px 20px;
    text-align: left !important;
}

.product-page #productInfo-product.grid__item .product_meta {
    display: block;
}

.product-page #productInfo-product.grid__item .product_meta:nth-of-type(2):before {
    content: "";
}

.product-page .grid__item .product_meta li {
    color: var(--navy-blue);
    display: inline-block;
    font-family: SabonLTStd-Roman;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-transform: capitalize;
}

.product-page .grid__item .product_meta li:after {
    content: ', ';
}

.product-page .grid__item .product_meta li:last-child:after {
    content: '';
}

.product-page .product-description {
    margin: 0px 0px 40px;
    text-transform: capitalize;
}

/*  product page -- form */
.product__form .selector-wrapper {
    display: none;
}

.customProductFields_headline {
    color: var(--brown-grey);
    display: block;
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    margin-bottom: 20px;
    text-align: left;
}

.product-form label {
    margin: 0px;
}

.checkbox {
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-column-gap: 10px;
    color: var(--color);
}

.checkbox__control {
    display: inline-grid;
    width: 14px;
    height: 14px;
    border-radius: 0px;
    border: 2px solid var(--navy-blue);
}

.checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
    margin-top: 5px;
    width: 14px;
}

.checkbox__input>* {
    grid-area: checkbox;
}

.checkbox__input input {
    height: 14px;
    opacity: 0;
    width: 14px;
}

.checkbox__input input:focus+.checkbox__control {
    box-shadow: 0 0 0 1px #FFF, 0 0 2px 2px var(--navy-blue);
}

.checkbox__input input:checked+.checkbox__control .checkbox-core {
    fill: var(--navy-blue);
}

.checkbox__label {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
}

.product-form fieldset {
    border: none;
    grid-column-gap: 10px;
    margin: 0px 0px 20px;
    text-align: left;
    padding: 0px;
}

.product-form fieldset label,
.product-form fieldset p {

    text-align: left;
    margin: 0px 0px 10px;
}

.product-form fieldset label {
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
    text-align: left;
}

.product-form .fieldsetInner {
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    display: grid !important;
    padding: 0px;
}

.product-form .fieldsetInner input {
    border: solid 1px var(--brown-grey);
    border-radius: 4px;
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.6px;
    padding: 13px 20px 10px;
    text-align: left;
    margin: 0px;
}

.line-item-property__field.top_margin {
    margin-top: 5px;
}

.line-item-property__field.top_extraSpace {
    margin-top: 35px;
}

.line-item-property__field--mandatory {
    font-family: UniversLTStd;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.45px;
    text-align: left;
    color: var(--brown-grey);
}

.line-item-property__field .AdditionalNotes_label {
    position: absolute;
    left: -10000px;
    top: -10000px;
    z-index: -1;
}

.line-item-property__field textarea {
    border-radius: 4px;
    border: solid 1px var(--brown-grey);
    margin: 0px;
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.6px;
    padding: 13px 20px 10px;
}

#quote-dimensions {
    display: none;
}

/* Errors in product form */
.customProductFields.error--choice .checkbox__control {
    border-color: var(--error);
}

.customProductFields.error--dimensions #quote-dimensions input {
    border-color: var(--error);
}

.add-to-cart-errors-single {
    color: var(--error);
    display: none;
}

.add-to-cart__wrapper {
    background-color: var(--navy-blue);
    margin-top: 35px;
}

.add-to-cart__wrapper .btn {
    border: none;
    color: var(--clear);
}

/* Product confirmation popup  */
#CartDrawerWrapper--product {
    border: 10px solid var(--navy-blue);
}

#CartDrawerWrapper--product .product__add__details p:nth-child(2) {
    display: none;
}
/* Product confirmation popup */
    #CartDrawerWrapper--product {
        border: none;
        top: 90px !important;
        box-shadow: 0px 0px 2px 2px var(--button-hover);
    }

    .cart-drawer .product__add__image__container {
        overflow: hidden;
        position: relative;
        min-height: auto;
        max-height: unset;
        width: 100%;
    }

    .cart-drawer .product__add_image__container__holder {
        width: 100%;
        padding-top: 100% !important;
        position: relative;
    }

    .cart-drawer .product__add__image__container img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .product__add__text {
        justify-content: flex-start;
    }

    .product__add__message {
        margin-bottom: 15px;
    }

    .product__add__details p {
        font-family: SabonLTStd-Roman;
        font-size: 27px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: var(--navy-blue);
    }

    .product__add__details {
        margin-bottom: 25px;
    }

    .product__add__message {
        margin-bottom: 12px;
    }
#CartDrawerWrapper--product .btn--splash {
    display: none;
}

/* RELATED PRODUCTS  */
.template-product .main-content {
    padding-bottom: 0px;
}
.related__wrapper{
    padding-left: 40px;
    padding-right:  40px;
}
.related-section .home__subtitle {
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.related-section .grid__item .product_meta li{
    font-size:12px;
}

/* FORMS */
.cart .wrapper {
    padding-top: 30px;
}

.cartForm {
    margin-bottom: 25px;
}

.cart .wrapper h1 {
    border-bottom: solid 2px var(--very-light-pink);
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 30px;
    padding-bottom: 25px;
    text-align: left;
    text-transform: none;
}

.cart__row {
    margin-bottom: 40px;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.cart__body {
    /* transition: height 5s, opacity 5s; */
    height: auto;
    overflow: hidden;
    transition: height 1s ease-out, opacity 1s ease-out;
}

.cart__footer {
    display: none;
}

.requestedItem-priceQty {
    display: none;
}

margin-bottom: 40px;
margin-top:0;
padding-top:0;
border-top:none;
}

.requestedItem {
    margin-bottom: 0px;
}

.requestedItem-info {
    display: flex;
    width: 100%;
}
.cart__row--table-large .grid__item{
         margin-bottom: 0px;
        width: 100%;
    }
    .cart__row--table-large .grid__item-sizer{
        margin-bottom: 0px;
    }
.cart__row .grid__item.one-third.small--one-quarter {
    width: 120px;
    margin-bottom: 0px;
}

.cart__image img {
    left: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
}

.cart__item__title {
    padding-left: 30px !important;
    width: calc(100% -120px);
    margin: 0px;
}

.cart__row .h4--body {
    color: var(--navy-blue);
    font-family: SabonLTStd-Roman;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    margin-bottom: 6px;
    text-align: left;
    width: 100%;
}

.customRequests {
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
}

.itemCustomRequest.itemCustomRequest--notes {
    margin-top: 10px;
}
.cart__row .grid__item .product_meta:nth-of-type(2)::before{
    content: "";
}

.grid__item .product_meta__cart {
    display: block;
}

.cart__remove {
    color: var(--brown-grey);
    margin-top: 20px;
    text-decoration: underline !important;
}

.cart__remove:hover {
    color: var(--navy-blue);
}

.requestedItemPriceQty {
    display: none;
}

.customForm-offscreen {
    bottom: -10000px;
    font-size: 0.1px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    text-shadow: 0 0 6px var(--dark);
    top: -10000px;
    width: 0px;
}

.customForm-alert {
    display: none;
}

.customForm-alert--active {
    display: block;
}

.requestForm-body {
    overflow: hidden;
    transition: height 1s ease-out, opacity 1s ease-out;
    height: auto;
}

.requestForm-title h2,
.requestForm-confirmation-ok h2 {
    font-family: UniversLTStd;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.65px;
    margin-bottom: 30px;
    text-align: left;
    color: var(--brown-grey);
}

.customForm-editor {
    margin-bottom: 25px;
}


.customForm-button-section {
    margin-top: 40px;
}

.customForm-button-section button.btn,
.customForm-button-section button.btn:hover {
    background-color: var(--navy-blue);
    color: var(--clear);
}

.cart__body--disabled,
.requestForm-body--disabled {
    opacity: 0;
}

.requestForm-confirmation {
    height: auto;
    opacity: 1;
    overflow: hidden;
    transition: height 2s ease-out, opacity 2s ease-out;
}

.requestForm-confirmation--disabled {
    opacity: 0;
    height: 0;
}

/* empty cart button */
.cart.quantity--hide {
    margin-bottom: 60px;
}

.cart.quantity--hide .btn {
    background-color: var(--navy-blue);
    color: var(--clear);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 444px;
    width: 100%;
}

/* Cart Footer */
.template-cart .footer-logo-wrapper,
.template-cart .site-footer .grid-uniform {
    display: none;
}

/* SINGLE PAGES  */
#FeaturedImage-page-images {
    height: 135px;
}

#FeaturedImage-page-images .lazy-image {
    height: 100%;
}

#FeaturedImage-page-images img {
    height: 100%;
}

#FeaturedImage-page-images .title--flex {
    margin-bottom: 0px;
}

.template-page .grid {
    padding-top: 35px;
}

.template-page .grid__item {
    margin-bottom: 60px;
}

.template-page .grid .rte {
    margin-bottom: 0px;
}

.template-page .grid p {
    margin-bottom: 30px;
}

.template-page .grid p:last-child {
    margin-bottom: 0px;
}

.template-page h2 {
    color: var(--navy-blue);
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    margin-bottom: 30px;
    text-align: left;
    text-transform: none;
}
.template-page h2:nth-child(n + 2){
    margin-top:40px;
}

/* Contact specific */
#contact .grid{
    display: grid;
    grid-template-columns: 1fr;
}
#contact .grid__item {
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 726px;
    width: 100%;
}
#contact .rte h3 {
    color: var(--brown-grey);
    display: block;
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    margin-bottom: 8px;
    text-align: left;
}

#contact .rte p {
    margin-bottom: 20px;
}

#contact .rte p a {
    color: var(--navy-blue);
    font-family: SabonLTStd-Roman;
    font-weight: normal;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-decoration: none;
}

#contact_form input[type="text"],
#contact_form input[type="search"],
#contact_form input[type="password"],
#contact_form input[type="email"],
#contact_form input[type="file"],
#contact_form input[type="number"],
#contact_form input[type="tel"],
#contact_form input[type="url"],
#contact_form textarea,
#contact_form select,
#contact_form .popout__toggle {
    margin-bottom: 25px;
}
#contact_form textarea{
    margin-bottom: 40px;
}
#contact_form input[type="submit"] {
    display: block;
    float: none !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 444px;
}
#contact_form .form-success{
    background-color: transparent;
    border:none;
    color: var(--navy-blue);
    font-size:15px;
    padding-left: 0px;
    padding-right: 0px;
}
#contact_form .form-success ~ *,
#contact_form .form-success ~ input[type="submit"]{
    display: none;
}
/* CHALLENGE PAGE */
#challenge .shopify-challenge__container {
    padding: 40px 20px 0px;
}

#challenge .shopify-challenge__container form {
    margin-bottom: 55px;
}

/* SEARCH PAGE */
.template-search .grid {
    padding-top: 35px;
}

.template-search .grid h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: none;
    text-align: left !important;
}

.template-search .grid .search-bar {
    background-color: var(--very-light-pink);
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 4px;
}

.template-search .grid input {
    border: none;
    margin-bottom: 0px;
    padding-left: 10px;
}

.template-search .grid button {
    background-color: var(--navy-blue);
    border-radius: 4px !important;
    color: var(--clear);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.45px;
    margin-top: 0px;
    min-width: 42px;
    text-align: center;
}

.template-search .grid button span.icon-search:before {
    font-size: 15px;
}

.template-search .grid hr {
    display: none;
}

.template-search .grid .grid {
    border-top: 2px solid var(--white);
    display: flex;
    margin-top: 20px;
    padding: 20px 0px 0px;
}

.template-search .grid .grid .grid__item.one-sixth {
    margin: 0px;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 223px);
}

.template-search .grid .grid .grid__item.one-sixth a {
    background-size: unset;
    display: block;
    padding-top: 100% !important;
    position: relative;
    width: 100%;
}

.template-search .grid .grid .grid__item.one-sixth a img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    top: 0;
}

.template-search .grid .grid .grid__item.five-sixths {
    margin-bottom: 0px;
    padding-left: 20px;
}

.template-search .grid .grid .h3--body {
    color: var(--navy-blue);
    font-family: SabonLTStd-Roman;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: left;
}

.template-search .grid .grid .h3--body a,
.template-search .grid .grid .h3--body a:hover {
    color: var(--navy-blue);
}

.template-search .grid .grid .product_meta {
    color: var(--brown-grey);
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    text-align: left;
}

.template-search .grid .grid .product_meta h3 {
    display: inline-block;
    font-family: UniversLTStd;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.55px;
    margin-bottom: 0px;
    text-align: left;
}

.template-search .grid .grid .product_meta h3:after {
    content: ':';
}

.template-search .grid .grid .product_meta:nth-of-type(2)::before {
    content: '';
}

.template-search .grid .grid .product_meta li {
    font-size: 11px;
    line-height: 1.5;
}

.template-search .grid .grid h5 {
    display: none;
}

.template-search .grid .grid p {
    color: var(--navy-blue);
    font-family: UniversLTStd;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    margin-top: 16px;
    text-align: left;
    text-transform: capitalize;
}

.template-search .pagination-custom {
    margin-top: 35px;
}

.template-search .wrapper>.grid>.grid__item {
    margin-bottom: 55px;
}
/* 404 page */
.template-404 .grid__item {
    margin-bottom: 60px;
    margin-top: 35px;
}
.template-404 .title.text-center {
    font-size: 30px;
    margin-bottom: 26px;
    text-transform: none;
}

/* MEDIA QUERIES  */
@media (min-width:440px) {
    .collection-nav.collection-nav--grouped {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
    }

    .collection-nav.collection-nav--grouped .sidebar__item {
        width: 100%;
    }
}