.customForm-offscreen{
    bottom: -10000px;
    font-size: 0.1px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top:  -10000px;
    width: 0px;
}
.customForm-alert {
    display: none;
}
.customForm-alert--active{
    display:block;
}
.requestForm-body{
    overflow:hidden;
    transition:height 1s ease-out, opacity 1s ease-out;
    height:auto;
}

.cart__body{
    /* transition: height 5s, opacity 5s; */
        height:auto;
    overflow:hidden;
        transition:height 1s ease-out, opacity 1s ease-out;
}
.cart__body--disabled, .requestForm-body--disabled{
    opacity: 0;
}
.requestForm-confirmation{
    height: auto;
    opacity: 1;
    overflow: hidden;
    transition: height 2s ease-out, opacity 2s ease-out;
}
.requestForm-confirmation--disabled{
    opacity: 0;
    height: 0;
}