<!-- /templates/page.wide.liquid -->
{% section 'page-images' %}

<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item one-whole">
      <h1 class="text-center h2 templateTitle" style="display:none;">{{ page.title }}</h1>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
